{% extends "base.html.twig" %}
{% block body %}

    <h1>
        Inscription

    </h1>

    <div>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
            {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>

    <div>


        {{ form_start(formUser) }}
        <div class="form-group">


            {{ form_row(formUser.username, {'attr': {'class': 'form-group col-6 form-control'}}) }}
            {{ form_row(formUser.email, {'attr': {'class': 'form-group form-control col-6'}} ) }}
            {{ form_row(formUser.plainPW.first, {'attr': {'class': 'form-group col-6 form-control'}}) }}
            {{ form_row(formUser.plainPW.second, {'attr': {'class': 'form-group col-6 form-control'}}) }}
        </div>

            <button type="submit">S'inscrire</button>

        {{ form_end(formUser) }}

    </div>


{% endblock %}
